nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightslategray;
    text-align: left;
}

.bar-title {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bar-title:hover {
    background-color: #111;
}
.gray-box {
    background-color:Gainsboro;
    color:maroon;
    padding:5px;

}
<div style="background-color:Gainsboro;color:maroon;padding:5px;"> 

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}